<div class="container top-30">
  <div class="row">
    <div class="col-md-3">
      <label for="search">Buscador de artistas</label>
      <input (keyup)="searchArtist()" [(ngModel)]="search" class="form-control" type="text" name="search" placeholder="Buscar por artista...">
    </div>
    <div class="col-md-9">
      <div class="row">
        <div [routerLink]="['/artista', artist.id]" class="col-md-3 text-center puntero" *ngFor="let artist of _spotifyService.artists">
          <img [src]="artist.images | sinfoto"  alt="" class="img-fluid img-thumbnail">
          <p>
            {{ artist.name }}
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

